﻿
@{
    Layout = null;
}



<html>
<head>
    <meta charset="UTF-8">
    <title>Say & Play - demo</title>
    
    <style>
        #block {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -300px;
            width: 300px;
            height: 150px;
            background-color: white;
        }
         
    </style>

</head>
<body>
<div id="controls">
    <button id="recordButton" onclick="startRecording();" style="display: none;">Record</button>
    
</div>
    

    
<div id="block">
    <canvas id="myCanvas" style="border:1px solid #d3d3d3;" > </canvas>
    
    <br/> <br />
    
    <div id="textout" style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 19pt;" onclick="stopRecording();" >
        
    </div>

</div>


</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/Content/Js/funcs.js"></script>
<script src="/Content/Js/demo.js"></script>

<script>

    $(function () {
        $("#recordButton").click();
    });

</script>