﻿

<html>
<head>
    <meta charset="UTF-8">
    <title>Динамичный микрофон</title>

</head>
<body>
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <h3>Recordings</h3>
    <ol id="recordingsList"></ol>

<div id="output">

    output

</div>

<div id="textout">

    textout

</div>

<div id="blobSize">

    textout

</div>

<canvas id="myCanvas" width="300" height="150" style="border:1px solid #d3d3d3;" />


</body>
</html>

@section scripts {
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/Content/Js/funcs.js"></script>
    <script src="/Content/Js/app.js"></script>
}