﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Say&Play";
}

<h2>Запись</h2>

<button id="startRecordingButton">Start recording</button>
<button id="stopRecordingButton">Stop recording</button>
<button id="playButton">Play</button>
<button id="downloadButton">Download</button>
<button id="uploadButton">Upload</button>
<button id="sayButton">Say</button>

<div style="height: 50px;"> </div>

<div id="output"> </div>

<canvas id="myCanvas" width="300" height="150" style="border:1px solid #d3d3d3;" />

@section scripts {
    <script src="/Content/Js/Record.js"></script>
}